<nav class="navbar">
  <div class="navbar-container">

    <div class="nav-left">
      <img 
        src={`${import.meta.env.BASE_URL}profile.jpeg`} 
        class="nav-profile" 
        alt="Foto Adrián" 
      />
      <span class="nav-name">Adrián Ruiz Robles</span>
    </div>

    <div class="nav-links">
      <a href="#about">Sobre mí</a>
      <a href="#projects">Proyectos</a>
      <a href="#skills">Habilidades</a>
    </div>

  </div>
</nav>
